<h1 class="mt-3 text-center">{{tittle}}</h1>
<div id="cajaCarrusel" class="container center"> <!-- carrusel hecho con angular 9 material design-->
    <mat-carousel
      timings="250ms ease-in"
      [autoplay]="true"
      interval="5000"
      color="white"
      slideHeight="100%"
      maxWidth="auto"
      proportion="40"
      slides="5"
      [loop]="true"
      [hideArrows]="false"
      [useKeyboard]="true"
      [useMouseWheel]="true"
      orientation="ltr"> <!-- Configuracion de la propiedades del carrusel-->
      <!--Implmentacion del carrusel en la pagina-->
      <mat-carousel-slide
        #matCarouselSlide
        *ngFor="let slide of slides; let i = index"
        [image]="slide.image"
        overlayColor="#00000000"
        [hideOverlay]="false"
      ></mat-carousel-slide>
    </mat-carousel>
</div>