#piePag{
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.usuario{
    width: auto;
    height: auto;
    text-align: center;
}
.iconos{
    float: left;
}